<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/app.css" />
	</head>
	<body>
		<div class="container dashboard administration">
			@@include('./components/navigation.html', { "active": "administration" })
			<main class="content reset-margin-right">
				@@include('./components/header.html')
				<div class="body">
					<div class="users">
						@@for (var i = 0; i < 9; i++) {
						<div class="user">
							<div class="avatar">
								<img src="images/avatar.png" alt="" />
								<div class="online"></div>
							</div>
							<p class="username">William_Fark</p>
							<p class="level">2 уровень</p>
							<a href="#!" class="btn">Открыть профиль</a>
						</div>
						}
					</div>
				</div>
			</main>
		</div>
		<script src="js/app.min.js"></script>
		<script>
			const users = document.querySelectorAll('.users .user');
			new app.tilesAnimate(users, {
				translateY: 20
			});
		</script>
	</body>
</html>
