<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/app.css" />
	</head>
	<body>
		<div class="container dashboard soft">
			@@include('./components/navigation.html', { "active": "soft" })
			<main class="content reset-margin-right">
				@@include('./components/header.html')
				<div class="body">
					<div class="softs-container">
						<div class="softs">
							@@for (let i = 0; i < 18; i++) {
							<div class="soft">
								<h4>Название чита</h4>
								<p>Имя автора</p>
								<a href="#!" class="btn">Скачать</a>
								<div class="data">
									[`+i+`] AutoHotkey — свободно распространяемый язык для
									автоматизации выполнения задач в Microsoft Windows. AutoHotkey
									является языком программирования сценариев (скриптов),
									приспособленным к лёгкому назначению и переназначению горячих
									клавиш, включая кнопки мыши и джойстика. Скрипты представляют
									собой текстовые файлы, с расширением «.ahk». В комплект поставки
									входит утилита, позволяющая «скомпилировать» их в EXE файлы, и
									запускать на любом компьютере с ОС Windows, при этом в
									создаваемый файл могут быть включены другие файлы, извлекаемые
									при запуске.
								</div>
							</div>
							}
						</div>

						<div class="information">
							<div class="wrapper">
								<h4>Информация</h4>
								<div class="data"></div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<script src="js/app.min.js"></script>
		<script>
			const rows = document.querySelectorAll('.softs .soft');
			const container = document.querySelector('.information .data');
			new app.tilesAnimate(rows, {
				translateX: -10
			});

			new app.selectSoft(rows, container);
		</script>
	</body>
</html>
